# Dfferent Patterns In Python

In [1]:
print('*')

*

In [2]:
n = 5
print('*'*n)

*****

In [3]:
n = 5
for i in range(n):
    print('*')

*
*
*
*
*

In [4]:
# Square

n = int(input('Number of Rows: '))
for i in range(n):
    for j in range(n):
        print('*', end = '  ')
    print()

Number of Rows: 10
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [5]:
# Increasing Triangle 

n = int(input('Number of Rows: '))
for i in range(n):
    for j in range(i+1):
        print('*', end ='   ')
    print()

Number of Rows: 10
*
*   *
*   *   *
*   *   *   *
*   *   *   *   *
*   *   *   *   *   *
*   *   *   *   *   *   *
*   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *

In [6]:
# Decreasing Triangle 

n = int(input("Number of Rows: "))
for i in range(n):
    for j in range(n-i):
        print('*', end='   ')
    print()

Number of Rows: 10
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *
*   *   *   *   *   *   *
*   *   *   *   *   *
*   *   *   *   *
*   *   *   *
*   *   *
*   *
*

In [7]:
# Right sided triangle 

n = int(input('Number of rows: '))
for i in range(n):
    for j in range(n-i):
        print(' ', end=' ')
    for J in range(i+1):
        print('*',end=' ')
    print()

Number of rows: 10
                    *
                  * *
                * * *
              * * * *
            * * * * *
          * * * * * *
        * * * * * * *
      * * * * * * * *
    * * * * * * * * *
  * * * * * * * * * *

In [8]:
n = int(input('Number of rows: '))
for i in range(n):
    for j in range(n-i):
        print('  ', end='  ')
    for J in range(i+1):
        print('#',end='  ')
    print()

Number of rows: 10
                                        #
                                    #  #
                                #  #  #
                            #  #  #  #
                        #  #  #  #  #
                    #  #  #  #  #  #
                #  #  #  #  #  #  #
            #  #  #  #  #  #  #  #
        #  #  #  #  #  #  #  #  #
    #  #  #  #  #  #  #  #  #  #

In [9]:
n = int(input('Number of rows: '))
for i in range(n):
    for j in range(i+1):
        print(' ', end=' ')
    for j in range(n-i):
        print('*', end=' ')
    print()

Number of rows: 10
  * * * * * * * * * *
    * * * * * * * * *
      * * * * * * * *
        * * * * * * *
          * * * * * *
            * * * * *
              * * * *
                * * *
                  * *
                    *

In [10]:
# Hill Pattern

n = int(input('Number of rows: '))
for i in range(n):
    for j in range(n-i):
        print(' ', end= ' ')
    for j in range(i):
        print('*', end= ' ')
    for j in range(i+1):
        print('*', end=' ')
    print()

Number of rows: 10
                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

In [11]:
# Reverse Hill Pattern

n = int(input("Number of rows: "))
for i in range(n):
    for j in range(i+1):
        print(' ', end = '  ')
    for j in range(i,n-1):
        print('*', end='  ')
    for j in range(n-i):
        print('*', end='  ')
        
    print()

Number of rows: 10
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *  *  *  *
               *  *  *  *  *  *  *  *  *  *  *
                  *  *  *  *  *  *  *  *  *
                     *  *  *  *  *  *  *
                        *  *  *  *  *
                           *  *  *
                              *

In [12]:
# Diamond Pattern

n = int(input('Number of Rows: '))
for i in range(n-1):
    for j in range(i,n):
        print(' ', end= ' ')
    for j in range(i):
        print('*', end=' ')
    for j in range(i+1):
        print('*', end=' ')
    print()    
    
for i in range(n):
    for j in range(i+1):
        print(' ', end=' ')
    for j in range(i, n-1):
        print('*', end=' ')
    for i in range(i,n):
        print('*', end=' ')
    print()

Number of Rows: 10
                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
        * * * * * * * * * * * * *
          * * * * * * * * * * *
            * * * * * * * * *
              * * * * * * *
                * * * * *
                  * * *
                    *

In [14]:
n = int(input('Number of rows: '))

# Upper part of the butterfly
for i in range(n):
    for j in range(2 * n - 2, 2 * i, -1):
        print(' ', end=' ')
    for j in range(i + 1):
        print('*', end=' ')
    for j in range(i):
        print(' ', end=' ')
    for j in range(i):
        print(' ', end=' ')
    for j in range(i + 1):
        print('*', end=' ')
    print()

Number of rows: 10
                                    * *
                                * *     * *
                            * * *         * * *
                        * * * *             * * * *
                    * * * * *                 * * * * *
                * * * * * *                     * * * * * *
            * * * * * * *                         * * * * * * *
        * * * * * * * *                             * * * * * * * *
    * * * * * * * * *                                 * * * * * * * * *
* * * * * * * * * *                                     * * * * * * * * * *

In [22]:
# Sandglass

n = int(input('Number of rows: '))

# Upper part of the sandglass
for i in range(n):
    for j in range(i):
        print(' ', end=' ')
    for j in range(2 * (n - i) - 1):
        print('*', end=' ')
    for j in range(i):
        print(' ', end=' ')
    print()

# Lower part of the sandglass
for i in range(n - 2, -1, -1):
    for j in range(i):
        print(' ', end=' ')
    for j in range(2 * (n - i) - 1):
        print('*', end=' ')
    for j in range(i):
        print(' ', end=' ')
    print()

Number of rows: 10
* * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [25]:
# Hollow square pattern

n = int(input('Number of rows: '))
for i in range(n):
    if i == 0 or i == n - 1:
        print('*' * n)
    else:
        print('*' + ' ' * (n - 2) + '*')

Number of rows: 10
**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [27]:
# Zigzag Pattern

n = int(input('Number of rows: '))
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if i == j or j == n - i + 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

Number of rows: 10
*                 *
  *             *
    *         *
      *     *
        * *
        * *
      *     *
    *         *
  *             *
*                 *

In [28]:
n = int(input('Number of rows: '))
for i in range(n):
    for j in range(n):
        if (i + j) % 2 == 0:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

Number of rows: 10
*   *   *   *   *
  *   *   *   *   *
*   *   *   *   *
  *   *   *   *   *
*   *   *   *   *
  *   *   *   *   *
*   *   *   *   *
  *   *   *   *   *
*   *   *   *   *
  *   *   *   *   *

In [29]:
# Plus sign

n = int(input('Size of the cross: '))
for i in range(n):
    for j in range(n):
        if i == n // 2 or j == n // 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

Size of the cross: 10
          *
          *
          *
          *
          *
* * * * * * * * * *
          *
          *
          *
          *

In [30]:
n = int(input('Number of rows (should be odd): '))
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end=' ')
    for j in range(n):
        print('*', end=' ')
    print()

Number of rows (should be odd): 10
                  * * * * * * * * * *
                * * * * * * * * * *
              * * * * * * * * * *
            * * * * * * * * * *
          * * * * * * * * * *
        * * * * * * * * * *
      * * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * *
* * * * * * * * * *

In [32]:
# Half Pyramid with numbers
 
n = int(input('Number of rows: '))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

Number of rows: 10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [33]:


n = int(input('Number of rows: '))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        if j == 1 or j == i or i == n:
            print(j, end=' ')
        else:
            print(' ', end=' ')
    print()

Number of rows: 10
1
1 2
1   3
1     4
1       5
1         6
1           7
1             8
1               9
1 2 3 4 5 6 7 8 9 10